/* 字體 */
@font-face {
  font-family: MADE;
  src: url(../fonts/MADE.ttf);
}


/* body */
body {
  cursor: url("../images/mouse.png"), auto;
}
/* body end */


/* 箭頭 */
.Instructions {position: absolute;right: 0;bottom: 7rem;margin: 0 auto;z-index: 4;}
.arrow-round {width: 10px;height: 10px;border-radius: 999rem;border: 1px solid black;animation: move 1.3s infinite;margin: 4px 3px;}
.arrow {width: 16px;height: 16px;border-bottom: 1px solid black;border-right: 1px solid black;transform: rotate(45deg);animation: move 1.3s infinite;margin: -9px 0 0;}
  
@for $i from 1 through 2 {
    .arrow:nth-child(#{$i + 1}) {
      animation-delay: 0.15 * $i + s;
    }
}
  
@keyframes move {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px) rotate(45deg);
    }
}
/* 箭頭 end */

@media (max-width: 480px) {
  .Instructions {bottom: 6rem;}
}

/* 選單 */
.Menu {position: relative;width: 100%;display: flex;justify-content: flex-end;z-index: 8888;}
.Menu-content {margin: 0 auto;width: 30px;position: fixed;top: 110px;background-color: #fff100;padding: 30px 20px;opacity: 0.3;}
.Menu-content:hover {opacity: 1.0;}
.Menu-project a {text-decoration: none;transition: all 150ms linear 0s;}
.Menu-project a:hover {text-decoration: none;color: white;}
.label {writing-mode: vertical-rl;text-orientation: sideways;margin: 20px 0;color: black;}
.label::before {content: "";width: 2px;height: 0px;background-color: white;display: flex;transition: height 2s;position: absolute;right: 30px;}
.label:hover:before {height: 60px;}
/* 選單 end */

@media (max-width: 480px) {
  .label {margin: 20px -10px;}
}

/* top */
#top {position: relative;margin: 0 auto;}
#top .top-content {position: relative;max-width: 1200px;margin: 0 auto;}
#top .top-content .row  {margin-left: 0;margin-right: 0;}
#top .top-content .row .col-6 {padding-left: 0;padding-right: 0;}
#top .top-content .top-Brand {padding: 60px 0 0;}
#top .top-content .row .col-6:nth-child(1) h1 {font-family: unset;font-size: 157px;line-height: 1;color: #fff100;margin: 0;font-weight: 800;position: relative;z-index: 66;opacity: 0.7;}
#top .top-content .row .col-6:nth-child(1) p {font-family: MADE;font-size: 99px;margin: 0 22px;}
#top .top-content .row .col-6:nth-child(2) {display: flex;flex-wrap: wrap;align-items: flex-end;}
#top .top-content .row .col-6:nth-child(2) .top-Instructions {padding: 0;}
#top .top-background {position: absolute;top: 0;right: 0;width: calc(42% + 100px);height: 100%;overflow: hidden;z-index: 1;}
.top-Visualize {position: relative;z-index: 5;left: 0;}
.top-Visualize img {max-width: 100%;}
.top-background ul {padding: 0;}
.top-background ul li {list-style: none;}
.top-background svg {animation:drift 16s linear infinite;background-color: white;}
.top-Brand-background {position: fixed;width: 124vw;z-index: -444;top: 104vh;}
.top-Brand-svg {position: absolute;opacity: 0.3;bottom: 0;width: 147vw;right: 0;}

@keyframes drift {
    from {transform: translatey(-700px);}
    to {transform: translatey(0px);}
}

@media (max-width: 768px) {
    #top .top-content .row .col-6:nth-child(1) {padding: 0 40px 0;}
    #top .top-content .row .col-6:nth-child(1) h1 {font-size: 17vw;}
    #top .top-content .row .col-6:nth-child(1) p {font-size: 8vw;}
    .top-Brand-background {top: 73vh;}
    .top-Brand-svg {width: 184vw;right: 0;}
}

@media (max-width: 480px) {
    #top .top-content .row .col-6 {flex: 0 0 100%;max-width: 100%;}
    .top-Visualize {position: initial;bottom: -224px;}
    .top-Instructions {height: 100%;}
    .top-Visualize img {max-width: 78vw;position: relative;z-index: 4;}
    #top .top-background {position: absolute;right: 0;width: calc(62% + 100px);height: calc(40% + 100px);top: calc(34% + 100px);}
    #top .top-content .row .col-6:nth-child(1) {padding: 40px;}
    #top .top-content .row .col-6:nth-child(1) h1 {font-size: 16vw;line-height: 0.8;}
    #top .top-content .row .col-6:nth-child(1) p {font-size: 14vw;}
    #top .top-content .row .col-6:nth-child(1) .top-Brand .top-logo {padding: 20px 0;}
    .top-Brand-background {left: -8vw;}
    .top-Brand-svg {width: 140vh;right: 0;}
    #top .top-content .top-Brand {padding: 20px 0 0;}
}
/* top end */

/* main */
.main {position: relative;margin: 0 auto;}
.main-content {margin: 0 auto;}
.mail {position: relative;}
.mail-content {position: fixed;height: 100%;background-color: white;z-index: 222;top: 25vh;padding: 10px 1%;opacity: 0.6;}
.mail-icon img {width: 100%;}
.mail-detailed {writing-mode: vertical-lr}
.main-Linear  {display: flex;justify-content: center;padding: 10px 0;}
.main-Linear span {width: 1px;height: 60px;background-color: black;}
.mail-detailed a {color: black;font-size: 16px;}
.mail-detailed a:hover {color: #fff100;text-decoration: none;}
/* main end */

/* service-background */
.service-background {position: absolute;left: 0;width: calc(62.7% + 100px);height: calc(70% + 100px);overflow: hidden;z-index: -444;bottom: 0;}
.service-background ul {padding: 0;}
.service-background ul li {list-style: none;}
.service-background svg {animation:drift 16s linear infinite;background-color: white;}
/* service-background end */


/* works */
#works {position: relative;margin: 0 auto;}
#works .works-content {max-width: 1200px;margin: 0 auto;}
#works .works-content .row {padding: 80px 59px 0;}
#works .works-content .row .col {padding-left: 0;padding-right: 0;}
#works .works-content .row .col .Description {max-width: 860px;margin: 0 auto;}#works .works-content .row .col .Description .Description-Introduction
#works .works-content .row .col .Description .Description-Introduction {padding: 13%;}
#works .works-content .row .col .Description .Description-Introduction .Description-title {font-size: 22px;padding: 30px 0;}
#works .works-content .row .col .Description .Description-Introduction .Description-title:hover::before {content:"";width: 20px;height: 20px;display: block;position: absolute;margin: -9px -14px;border-top: 2px solid #fff100;border-left: 2px solid #fff100;}
#works .works-content .row .col .Description .Description-Introduction .Description-title:hover::after {content:"";width: 20px;height: 20px;display: inline-block;position: absolute;margin: 17px -4px;border-bottom: 2px solid #fff100;border-right: 2px solid #fff100;}
#works .works-content .row .col .Description .Description-Introduction .Description-content {padding: 0 0 30px;font-size: 16px;}
#works .works-content .row .col .Description .Description-img ul {padding: 0;}
#works .works-content .row .col .Description .Description-img ul li {list-style: none;margin: 10px 0 0;}
#works .works-content .row .col .Description .Description-img ul li  img {max-width: 100%;max-height: 100%;}
/* works end */

@media (max-width: 768px) {
  #works .works-content .row {padding: 80px 59px 0;}
  #works .works-content .row .col .Description .Description-img ul li  img {max-width: 100%;max-height: 100%;}
}

@media (max-width: 480px) {
  #works .works-content .row {padding: 30px 59px 0;}
  #works .works-content .row .col .Description .Description-img ul li  img {max-width: 100%;max-height: 100%;}
}






/* other */
#other {position: relative;margin: 0 auto;z-index: 55;}
#other .other-content {max-width: 1200px;margin: 0 auto;}
#other .other-content .row {padding: 6rem 0;margin-left: 0;margin-right: 0;}
#other .other-content .row .col-6 {padding-right: 0;padding-left: 0;flex: 0 0 100%;max-width: 100%;}
#other .other-content .row .col-6 .other-title h4 {position: absolute; left: 74px;font-size: 18px;margin: 0;color: black;top: -40px;}
#other .other-content .row .col-6 .other-title {text-align: center;}
#other .other-content .row .col-6 .More {position: absolute;right: 0;top: -80px;z-index: 4;width: 99px;height: 99px;}
#other .other-content .row .col-6 .More a span {color: #fff100;border: 2px solid #fff100;border-style: dashed;width: 99px;height: 99px;border-radius: 999rem;display: block;}
#other .other-content .row .col-6 .More  a {color: black;font-size: 18px;display: flex;align-items: center;justify-content: center;}
#other .other-content .row .col-6 .More  a:hover {text-decoration: none;color: black;}
#other .other-content .row .col-6 .More p {margin: 0;position: absolute;}
#other .other-content .row .col-6 .More span {-webkit-animation: loading 8s infinite linear;-moz-animation: loading 8s infinite linear; -o-animation: loading 8s infinite linear;animation: loading 8s infinite linear;}
#other .other-content .row .col-6 ul {display: flex;padding: 0;overflow: hidden;margin: 0;}
#other .other-content .row .col-6 ul li {width: 300px;height: 300px;list-style: none;}
#other .other-content .row .col-6 ul li a img {animation: Animation 40s infinite;}
@keyframes Animation {
  0%{transform: translateX(0px);}
  100%{transform: translateX(-1920px);}
}

@keyframes loading {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(-360deg);
  }
}
/* other end */

@media (max-width: 768px) {
  #other .other-content .row {padding: 200px 0 0;}
  #other .other-content .row .col-6 .More {top: -82px;}
  #other .other-content .row .col-6 .other-title h4 {left: 45px;}
}

@media (max-width: 480px) {
  #other .other-content .row {padding: 60px 0 0;}
  #other .other-content .row .col-6 .other-title h4 {position: initial;padding: 0 0 30px;}
  #other .other-content .row .col-6 .More {top: -19px;}
}

/* footer */
.footer {position: relative;margin: 0 auto;background-color: #f9f9f9;z-index: 4444;}
.footer-content {max-width: 1200px;margin: 0 auto;}
.footer-content .row {text-align: center;padding: 1%;}
.footer-content .row .col {font-size: 13px;}
.footer-content .row .col p {margin: 0;}
/* footer end */















