/* 字體 */
@font-face {
  font-family: MADE;
  src: url(../fonts/MADE.ttf);
}

/* loading */
.load {position: fixed;background: #fff100;width: 100%;height: 100%;z-index: 99999;top: 0;left: 0;display: flex;justify-content: center;    align-items: center;right: 0;bottom: 0;}
.loader-content {width: 160px;height: 160px;position: relative;}
.loader-one section {position: absolute;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}
.loader-one section img {max-width: 60%;max-height: 60%;}
.loader-one section:nth-child(2) {-webkit-animation: loading 2s infinite linear;-moz-animation: loading 2s infinite linear; -o-animation: loading 2s infinite linear;animation: loading 2s infinite linear;border: 14px solid white;border-radius: 999rem;border-style: dotted;border-color: #fff100 #fff100 #fff100 white;border-bottom: thin;}
/* loading end */

/* 文字動畫 */
@-webkit-keyframes right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(360px);
	}	
	100% {
		opacity: 6;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(120px);
	}	
	100% {
		opacity: 6;
		-webkit-transform: translateX(0);
	}
}
/* 文字動畫 end */


/* 選轉動畫 */
@keyframes loading {
  from {
      transform: rotate(-360deg);
  }
  to {
      transform: rotate(0deg);
  }
}
/* 選轉動畫 end */


/* 箭頭 */
.Instructions {position: absolute;right: 0;bottom: 7rem;margin: 0 auto;}
.arrow-round {width: 10px;height: 10px;border-radius: 999rem;border: 1px solid black;animation: move 1.3s infinite;margin: 4px 3px;}
.arrow {width: 16px;height: 16px;border-bottom: 1px solid black;border-right: 1px solid black;transform: rotate(45deg);animation: move 1.3s infinite;margin: -9px 0 0;}
  
@for $i from 1 through 2 {
    .arrow:nth-child(#{$i + 1}) {
      animation-delay: 0.15 * $i + s;
    }
}
  
@keyframes move {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px) rotate(45deg);
    }
}
/* 箭頭 end */

@media (max-width: 480px) {
  .Instructions {bottom: 6rem;}
}

/* 選單 */
.Menu {position: relative;width: 100%;display: flex;justify-content: flex-end;z-index: 777;}
.Menu-content {margin: 0 auto;width: 30px;position: fixed;top: 110px;background-color: #fff100;padding: 30px 20px;opacity: 0.3;}
.Menu-content:hover {opacity: 1.0;}
.Menu-project a {text-decoration: none;transition: all 150ms linear 0s;}
.Menu-project a:hover {text-decoration: none;color: white;}
.label {writing-mode: vertical-rl;text-orientation: sideways;margin: 20px 0;color: black;}
.label::before {content: "";width: 2px;height: 0px;background-color: white;display: flex;transition: height 2s;position: absolute;right: 30px;}
.label:hover:before {height: 80px;}
/* 選單 end */

@media (max-width: 480px) {
  .label {margin: 20px -10px;}
}

/* top */
#top {position: relative;margin: 0 auto;}
#top .top-content {position: relative;max-width: 1200px;margin: 0 auto;}
#top .top-content .row  {margin-left: 0;margin-right: 0;}
#top .top-content .row .col-6 {padding-left: 0;padding-right: 0;}
#top .top-content .top-Brand {padding: 60px 0 0;}
#top .top-content .row .col-6:nth-child(1) h1 {font-family: unset;font-size: 157px;line-height: 1;color: #fff100;margin: 0;font-weight: 800;}
#top .top-content .row .col-6:nth-child(1) p {font-family: MADE;font-size: 99px;margin: 0 22px;}
#top .top-content .row .col-6:nth-child(2) {display: flex;flex-wrap: wrap;align-items: flex-end;}
#top .top-content .row .col-6:nth-child(2) .top-Instructions {padding: 40px 0 0;}
#top .top-background {position: absolute;top: 0;right: 0;width: calc(42% + 100px);height: 100%;overflow: hidden;z-index: -5;}
.top-Visualize {position: relative;z-index: 2;left: 0;}
.top-Visualize img {max-width: 100%;}
.top-background ul {padding: 0;background-color: white;}
.top-background ul li {list-style: none;}
.top-background ul li svg {animation:drift 16s linear infinite;}
.top-Brand-background {position: fixed;width: 124vw;z-index: -444;top: 104vh;}
.top-Brand-svg {position: absolute;opacity: 0.5;bottom: 0;z-index: -999999;width: 147vw;right: 0;}

@keyframes drift {
    from {transform: translatey(-700px);}
    to {transform: translatey(0px);}
}

@media (max-width: 768px) {
    #top .top-content .row .col-6:nth-child(1) {padding: 0 40px 0;}
    #top .top-content .row .col-6:nth-child(1) h1 {font-size: 17vw;}
    #top .top-content .row .col-6:nth-child(1) p {font-size: 8vw;}
    .top-Brand-background {top: 73vh;}
    .top-Brand-svg {width: 184vw;right: 0;}
}

@media (max-width: 480px) {
    #top .top-content .row .col-6 {flex: 0 0 100%;max-width: 100%;}
    .top-Visualize {position: initial;bottom: -224px;}
    .top-Instructions {height: 100%;}
    .top-Visualize img {max-width: 78vw;position: relative;}
    #top .top-background {position: absolute;right: 0;width: calc(62% + 100px);height: calc(40% + 100px);top: calc(40% + 100px);}
    #top .top-content .row .col-6:nth-child(1) {padding: 40px 40px 0}
    #top .top-content .row .col-6:nth-child(1) h1 {font-size: 16vw;line-height: 0.8;}
    #top .top-content .row .col-6:nth-child(1) p {font-size: 14vw;}
    #top .top-content .row .col-6:nth-child(1) .top-Brand .top-logo {padding: 20px 0;}
    #top .top-content .row .col-6:nth-child(2) .top-Instructions {padding: 0;}
    .top-Brand-background {left: -8vw;}
    .top-Brand-svg {width: 140vh;right: 0;}
    #top .top-content .top-Brand {padding: 20px 0 0;}
}
/* top end */

/* main */
.main {position: relative;margin: 0 auto;}
.main-content {max-width: 1200px;margin: 0 auto;}
.mail {position: relative;}
.mail-content {position: fixed;height: 100%;background-color: white;z-index: 55;top: 25vh;padding: 10px 1%;opacity: 0.6;}
.mail-icon img {width: 100%;}
.mail-detailed {writing-mode: vertical-lr}
.main-Linear  {display: flex;justify-content: center;padding: 10px 0;}
.main-Linear span {width: 1px;height: 60px;background-color: black;}
.mail-detailed a {color: black;font-size: 16px;}
.mail-detailed a:hover {color: #fff100;text-decoration: none;}
/* main end */


/* about */
#about {position: relative;margin: 0 auto;}
.about-content {position: relative;}
.about-content-title {position: relative;width: 100%;}
.about-content-title p {position: absolute;right: 0;color: #f9f9f9;font-size: 200px;font-family: unset;font-weight: 900;top: -82px; animation-duration: 3s;animation-name: slidein;animation-iteration-count: infinite;}
#about .about-content .row {padding: 260px 0 0;margin-left: 0;margin-right: 0;}
#about .about-content .row .col-6:nth-child(1) p {padding: 0 140px;font-size: 16px;line-height: 2;-webkit-animation-name: "right"; /*动画名称，需要跟@keyframes定义的名称一致*/ -webkit-animation-duration: 4s;/*动画持续的时间长*/ -webkit-animation-iteration-count: 1;/*动画循环播放的次数为1 infinite为无限次*/}
.about-title {position: relative;-webkit-animation-name: "right"; /*动画名称，需要跟@keyframes定义的名称一致*/ -webkit-animation-duration: 4s;/*动画持续的时间长*/ -webkit-animation-iteration-count: 1;/*动画循环播放的次数为1 infinite为无限次*/}
#about .row .col-6 .about-title h4 {writing-mode: vertical-lr;position: absolute; left: 30px;font-size: 69px;margin: 0;color: #fff100;top: -94px;}
#about .row .col-6 .about-title::after {content: "";width: 2px;height: 200px;background-color: #fff100;position: absolute;left: 43px;top: -45px;}
#about .about-content .row .col-6 {padding-left: 0;padding-right: 0;}
#about .about-content .row .col-6:nth-child(2) {-webkit-animation-name: "left"; /*动画名称，需要跟@keyframes定义的名称一致*/ -webkit-animation-duration: 4s;/*动画持续的时间长*/ -webkit-animation-iteration-count: 1;/*动画循环播放的次数为1 infinite为无限次*/}
#about .about-content .row .col-6:nth-child(2) .Painting {position: relative;}
#about .about-content .row .col-6:nth-child(2) .Painting .attentive {width: 20%;position: absolute;top: -50px;left: 0;-webkit-animation: loading 8s infinite linear;-moz-animation: loading 8s infinite linear; -o-animation: loading 8s infinite linear;animation: loading 8s infinite linear;z-index: 999;}
#about .about-content .row .col-6:nth-child(2) .Painting .attentive svg .cls-1{fill:#fff100;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img {position: relative;display: flex;justify-content:flex-end;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img img {width: 90%;}
/* about end */

@media (max-width: 768px) {
#about .about-content .row .col-6:nth-child(1) p {padding: 0 0 0 100px;}
.about-content-title p {font-size: 25vw;-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */animation: mymove 5s infinite;top: -46px;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img {display: flex;justify-content: flex-end;}
#about .about-content .row .col-6:nth-child(2) .Painting .attentive {top: -24px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {margin-right: 100px;}
}

/* Standard syntax */
@keyframes mymove {
  50% {margin-right: 100px;}
}

@media (max-width: 480px) {
  .about-content-title p {top: -4px;font-size: 100px;-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */animation: mymove 5s infinite;}
  #about .about-content .row .col-6 {flex: 0 0 100%;max-width: 100%;}
  #about .row .col-6 .about-title {text-align: center;}
  #about .row .col-6 .about-title h4 {writing-mode: initial;position: initial;font-size: 50px;}
  #about .row .col-6 .about-title::after {width: 2px;height: 11vh;left: 0;top: 69px;}
  #about .about-content .row .col-6:nth-child(1) {padding: 40px;}
  #about .about-content .row .col-6:nth-child(2) .Painting .about-img {display: flex;justify-content: flex-end;}
  #about .about-content .row .col-6:nth-child(2) .Painting .about-img img {width: calc(80% + 56px);}
  #about .about-content .row {padding: 100px 0 0;}
  #about .about-content .row .col-6:nth-child(1) p {padding: 0 0 0 20px;}
  #about .about-content .row .col-6:nth-child(2) .Painting .attentive {top: -4vh;}
  .mail-content::before {left: 15px;}
}

 /* Chrome, Safari, Opera  */
@-webkit-keyframes mymove {
  50% {margin-right: 60px;}
}

/* Standard syntax */
@keyframes mymove {
  50% {margin-right: 60px;}
}


/* service */
#service {position: relative;margin: 0 auto;}
#service .service-content {max-width: 1200px;margin: 0 auto;}
#service .service-content .row {padding: 260px 0 0;}
#service .service-content .row .col-8  {padding-left: 0;padding-right: 0;-webkit-animation-name: "right"; /*动画名称，需要跟@keyframes定义的名称一致*/ -webkit-animation-duration: 4s;/*动画持续的时间长*/ -webkit-animation-iteration-count: 1;/*动画循环播放的次数为1 infinite为无限次*/}
#service .service-content .row .col-8 .service-Collapse {width: 60%;float: right;}
#service .service-content .row .col-4  {padding-left: 0;padding-right: 0;-webkit-animation-name: "left"; /*动画名称，需要跟@keyframes定义的名称一致*/ -webkit-animation-duration: 4s;/*动画持续的时间长*/ -webkit-animation-iteration-count: 1;/*动画循环播放的次数为1 infinite为无限次*/}
#service .service-content .row .col-4 .service-title {position: relative;}
#service .service-content .row .col-4 .service-title h4 {writing-mode: vertical-lr;position: absolute; right: -2px;font-size: 69px;margin: 0;color: #fff100;top: -94px;}
#service .service-content .row .col-4 .service-title::after {content: "";width: 2px;height: calc(100% + 230px);background-color: #fff100;position: absolute;right: 64px;top: -50px;}
input { display: none;}
input ~ div {height: 1px;overflow: hidden;}
input ~ div > * {opacity: 0;transition: 0.5s;font-size: 16px;line-height: 1.75em;}
input + label {display: block;position: relative;font-size: 18px;padding: 10px 0;margin: 0;border-bottom: 1px solid;}
input + label:after,input + label:before {position: absolute;background: black;content: '';transform: rotate(0deg);transition: 0.5s;top: 50%;}
input + label:after {right: 4px;height: 10px;width: 2px;margin-top: -5px;}
input + label:before {right: 0;width: 10px;height: 2px;margin-top: -1px;}
input:checked ~ div {height: auto;}
input:checked ~ div > * {opacity: 1;transition: 0.5s;transition-delay: 0.25s;margin: 10px 0;}
input:checked + label:before {transform: rotate(360deg);transition: 0.5s;}
input:checked + label:after {transform: rotate(450deg);transition: 0.5s;}
label:hover {cursor: pointer;}
.service-background {position: absolute;top: calc(38% + 100px);left: 0;width: calc(74% + 100px);height: calc(22% + 100px);overflow: hidden;z-index: -5;}
.service-background ul {padding: 0;background-color: white;}
.service-background ul li {list-style: none;}
.service-background ul li svg {animation:drift 16s linear infinite;}
/* service end */

@media (max-width: 768px) {
  #service .service-content .row {padding: 20% 0 0;}
  #service .service-content .row .col-8 {display: flex;justify-content: flex-end;}
  #service .service-content .row .col-8 .service-Collapse {margin: 0;}
}

@media (max-width: 480px) {
  #service .service-content .row {padding: 100px 0 40px;flex-direction: column-reverse;}
  #service .service-content .row .col-8 .service-Collapse {margin: 0 auto;}
  #service .service-content .row .col-8 {flex: 0 0 100%;max-width: 100%;    padding: 0 0 20px;}
  #service .service-content .row .col-4 {flex: 0 0 100%;max-width: 100%;}
  #service .service-content .row .col-4 .service-title {position: initial;text-align: center;}
  #service .service-content .row .col-4 .service-title h4 {writing-mode: initial;position: initial;font-size: 50px;}
  #service .service-content .row .col-4 .service-title::after {width: 2px;height: calc(50% + 100px);top: 77px;left: 68px}
}


/* works */
#works-content {position: relative;}
#works .works-content {max-width: 1200px;margin: 0 auto;}
#works .works-content .row {padding: 300px 0 0;margin-left: 0;margin-right: 0;}
#works .works-content .row .col-6 {padding-right: 0;padding-left: 0;flex: 0 0 100%;max-width: 100%;}
#works .works-content .row .col-6 .works-title h4 {position: absolute; left: 74px;font-size: 69px;margin: 0;color: #fff100;top: -94px;}
#works .works-content .row .col-6 .works-title {text-align: center;}
#works .works-content .row .works-title::after {content: "";width: 130px;height: 2px;background-color: #fff100;position: absolute;left: 192px;top: -29px;}
#works .works-content .row .col-6 .More {position: absolute;right: 0;top: -80px;z-index: 4;width: 99px;height: 99px;}
#works .works-content .row .col-6 .More a span {color: #fff100;border: 2px solid #fff100;border-style: dashed;width: 99px;height: 99px;border-radius: 999rem;display: block;}
#works .works-content .row .col-6 .More  a {color: black;font-size: 18px;display: flex;align-items: center;justify-content: center;}
#works .works-content .row .col-6 .More  a:hover {text-decoration: none;color: black;}
#works .works-content .row .col-6 .More p {margin: 0;position: absolute;}
#works .works-content .row .col-6 .More span {-webkit-animation: loading 8s infinite linear;-moz-animation: loading 8s infinite linear; -o-animation: loading 8s infinite linear;animation: loading 8s infinite linear;}
#works .works-content .row .col-6 ul {display: flex;padding: 0;overflow: hidden;}
#works .works-content .row .col-6 ul li {width: 300px;height: 300px;list-style: none;}
#works .works-content .row .col-6 ul li a img {animation: Animation 40s infinite;}
@keyframes Animation {
  0%{transform: translateX(0px);}
  100%{transform: translateX(-1920px);}
}
/* works end */

@media (max-width: 768px) {
  #works .works-content .row {padding: 200px 0 0;}
  #works .works-content .row .works-title::after {left: calc(19% + 20px);top: -29px;width: 100px;}
  #works .works-content .row .col-6 .More {top: -82px;}
  #works .works-content .row .col-6 .works-title h4 {left: 45px;}
}

@media (max-width: 480px) {
  #works .works-content .row {padding: 60px 0 0;}
  #works .works-content .row .col-6 .works-title {position: relative;}
  #works .works-content .row .col-6 .works-title h4 {position: initial;padding: 0 0 30px;font-size: 50px;}
  #works .works-content .row .works-title::after {left: calc(45% + 20px);top: 52px;}
  #works .works-content .row .col-6 .More {top: 8px;}
}


/* footer */
.footer {position: relative;margin: 0 auto;background-color: #f9f9f9;margin: 60px 0 0;}
.footer-content {max-width: 1200px;margin: 0 auto;}
.footer-content .row {text-align: center;padding: 1%;}
.footer-content .row .col {font-size: 13px;}
.footer-content .row .col p {margin: 0;}
/* footer end */















