/* 字體 */
@font-face {
  font-family: MADE;
  src: url(../fonts/MADE.ttf);
}

/* body */
body {
  cursor: url("../images/mouse.png"), auto;
}
/* body end */


/* loading */
.load {position: fixed;background: #fff100;z-index: 99999;height: 100%;width: 100%;overflow: hidden;display: flex;}
.loader-content {margin: 0 auto;display: flex;justify-content: center;}
.loader-content .loader-one {display: flex;justify-content: center;align-items: center;}
.loader-one section {display: flex;align-items: center;justify-content: center;top: 0;}
.loader-one section img {max-width: 100%;max-height: 100%;}
/* loading end */

/* 文字動畫 */
@-webkit-keyframes right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(360px);
	}	
	100% {
		opacity: 6;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-360px);
	}	
	100% {
		opacity: 6;
		-webkit-transform: translateX(0);
	}
}
/* 文字動畫 end */


/* 選轉動畫 */
@keyframes loading {
  from {
      transform: rotate(-360deg);
  }
  to {
      transform: rotate(0deg);
  }
}
/* 選轉動畫 end */


/* 箭頭 */
.Instructions {position: absolute;right: 0;bottom: 7rem;margin: 0 auto;z-index: 4;}
.arrow-round {width: 10px;height: 10px;border-radius: 999rem;border: 1px solid black;animation: move 1.3s infinite;margin: 4px 3px;}
.arrow {width: 16px;height: 16px;border-bottom: 1px solid black;border-right: 1px solid black;transform: rotate(45deg);animation: move 1.3s infinite;margin: -9px 0 0;}
  
@for $i from 1 through 2 {
    .arrow:nth-child(#{$i + 1}) {
      animation-delay: 0.15 * $i + s;
    }
}
  
@keyframes move {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px) rotate(45deg);
    }
}
/* 箭頭 end */

@media (max-width: 480px) {
  .Instructions {bottom: 6rem;}
}

/* 選單 */
.Menu {position: relative;width: 100%;display: flex;justify-content: flex-end;z-index: 8888;}
.Menu-content { margin: 0 auto; width: 30px; position: fixed; top: 110px; background-color: #fff100; padding: 30px 20px; opacity: 0.3; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; }
.Menu-content:hover {opacity: 1.0;}
.Menu-project a {text-decoration: none;transition: all 150ms linear 0s;}
.Menu-project a:hover {text-decoration: none;color: white;}
.label {writing-mode: vertical-rl;text-orientation: sideways;margin: 20px 0;color: black;}
.label::before {content: "";width: 2px;height: 0px;background-color: white;display: flex;transition: height 2s;position: absolute;right: 30px;}
.label:hover:before {height: 80px;}
/* 選單 end */

@media (max-width: 480px) {
  .label {margin: 20px -10px;}
}

/* top */
#top {position: relative;margin: 0 auto;}
#top .top-content {position: relative;max-width: 1200px;margin: 0 auto;}
#top .top-content .row  {margin-left: 0;margin-right: 0;height: 680px;}
#top .top-content .row .col-6 {padding-left: 0;padding-right: 0;}
#top .top-content .top-Brand {padding: 60px 0 0;}
#top .top-content .top-Brand .top-logo a {display: inline-block;}
#top .top-content .row .col-6:nth-child(1) .slogan {padding: 10rem 0;}
#top .top-content .row .col-6:nth-child(1) .slogan h5 { font-family: unset; font-size: 60px; line-height: 1; color: black; font-weight: 800; z-index: 3; position: relative; padding: 20px; margin: 20px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
#top .top-content .row .col-6:nth-child(1) .slogan h5::before { content: ""; width: 100%; height: 100%; display: inline-block; position: absolute; background-color: #fff100; left: 0; bottom: 0; z-index: -1; opacity: .6; animation: h5mobile 20s infinite; -webkit-animation: h5mobile 20s infinite; transform: rotate(25deg); -webkit-transform: rotate(25deg); -moz-transform: rotate(25deg); -ms-transform: rotate(25deg); -o-transform: rotate(25deg); }
#top .top-content .row .col-6:nth-child(2) {display: flex;flex-wrap: wrap;align-items: flex-end;justify-content: center;}
#top .top-background {position: absolute;top: 0;right: 0;width: calc(42% + 100px);height: 100%;overflow: hidden;}
.top-Visualize {position: relative;z-index: 2;left: 0;}
.top-Visualize img {max-width: 100%;}
.top-background ul {padding: 0;background-color: white;}
.top-background ul li {list-style: none;}
.top-background ul li svg { animation:drift 40s linear infinite; -webkit-animation:drift 40s linear infinite; }
.top-Brand-background {position: fixed;z-index: -9999999999999;top: 0;left: 0;background: url(../images/background.png);width: 100%;height: 100%;opacity: .2;}

@keyframes h5mobile {
  0% { transform: translate(-800px) ; -webkit-transform: translate(-800px) ; -moz-transform: translate(-800px) ; -ms-transform: translate(-800px) ; -o-transform: translate(-800px) ; }
  100% { transform: translate(0) ; -webkit-transform: translate(0) ; -moz-transform: translate(0) ; -ms-transform: translate(0) ; -o-transform: translate(0) ; }
}

@keyframes drift {
    from { transform: translatey(-400px); -webkit-transform: translatey(-400px); -moz-transform: translatey(-400px); -ms-transform: translatey(-400px); -o-transform: translatey(-400px); }
    to { transform: translatey(0); -webkit-transform: translatey(0); -moz-transform: translatey(0); -ms-transform: translatey(0); -o-transform: translatey(0); }
}

@media (max-width: 768px) {
    #top .top-content .row {height: inherit;}
    #top .top-content .row .col-6 {flex: 0 0 100%;max-width: 100%;}
    #top .top-content .row .col-6:nth-child(1) {padding: 0 40px 0;}
    #top .top-content .row .col-6:nth-child(1) .slogan {padding: 0;}
    #top .top-content .row .col-6:nth-child(1) .slogan h5 {font-size: 12vw;}
    .top-Visualize img {max-width: 100%;}
    #top .top-background {position: absolute;right: 0;width: 100%;height: calc(40% + 100px);top: calc(34% + 100px);z-index: -3;}
}

@media (max-width: 480px) {
    .top-Instructions {height: 100%;}
    .top-Visualize {position: initial;bottom: -224px;}.top-Visualize
    .top-Visualize img {max-width: 100%;position: relative;z-index: 4;}
    #top .top-content .row .col-6:nth-child(1) {padding: 40px 40px 0}
    #top .top-content .row .col-6:nth-child(1) .slogan {padding: 20px 0;}
    #top .top-content .row .col-6:nth-child(1) .slogan h5 { font-size: 16vw; line-height: 1; padding: 10px; margin: 24px; transform: translate(0); -webkit-transform: translate(0); -moz-transform: translate(0); -ms-transform: translate(0); -o-transform: translate(0); }
    #top .top-content .row .col-6:nth-child(1) .top-Brand .top-logo {padding: 20px 0;position: relative;z-index: 2;}
    #top .top-content .row .col-6:nth-child(2) .top-Instructions {padding: 0;}
    #top .top-content .top-Brand {padding: 20px 0 0;}
}
/* top end */

/* main */
.main {position: relative;margin: 0 auto;}
.main-content {margin: 0 auto;}
.mail {position: relative;}
.mail-content {position: fixed;height: 100%;background-color: white;z-index: 33333;top: 25vh;padding: 10px 1%;opacity: 0.6;}
.mail-icon img {width: 100%;}
.mail-detailed {writing-mode: vertical-lr}
.main-Linear  {display: flex;justify-content: center;padding: 10px 0;}
.main-Linear span {width: 1px;height: 60px;background-color: black;}
.mail-detailed a {color: black;font-size: 16px;}
.mail-detailed a:hover {color: #fff100;text-decoration: none;}
/* main end */


/* about */
#about {position: relative;margin: 0 auto;}
.about-content {max-width: 1200px;margin: 0 auto;}
.about-content-title {position: relative;width: 100%;}
.about-content-title p {position: absolute;right: 10px;color: #f8f9f8;font-size: 200px;font-family: unset;font-weight: 900;top: -42px;animation-duration: 3s;animation-name: slidein;animation-iteration-count: infinite;}
#about .about-content .row {padding: 20rem 0 8rem;margin-left: 0;margin-right: 0;margin-bottom: 6rem;}
#about .about-content .row::before {content: "";width: calc(55% + 100px);height: 400px;background-color: #f8f9f8;display: inline-block;position: absolute;right: 0;top: 140px;}
#about .about-content .row .col-6:nth-child(1) p {padding: 0 0 0 140px;font-size: 16px;line-height: 2;}
#about .about-content .row .col-6:nth-child(1) {-webkit-animation-name: "left";-webkit-animation-duration: 4s;-webkit-animation-iteration-count: 1;}
#about .about-content .row .col-6:nth-child(2) {-webkit-animation-name: "right";-webkit-animation-duration: 4s;-webkit-animation-iteration-count: 1;}
#about .about-content .row .col-6:nth-child(2)::before {content: "Lin Snails Design. 獨創極簡風格設計、主要專注於極簡標誌設計、正確傳遞企業理念、帶動極簡市場風潮、平面設計服務。";position: absolute;top: 42%;max-width: 100%;left: -29%;line-height: 2;z-index: 2;}
.about-title {position: relative;}
#about .row .col-6 .about-title h4 {writing-mode: vertical-lr;position: absolute; left: 30px;font-size: 90px;margin: 0;color: black;top: -94px;}
#about .about-content .row .col-6 {padding-left: 0;padding-right: 0;}
#about .about-content .row .col-6:nth-child(2) .Painting {position: relative;margin-top: 50px;}
#about .about-content .row .col-6:nth-child(2) .Painting .attentive {width: 20%;position: absolute;top: -50px;left: 0;-webkit-animation: loading 8s infinite linear;-moz-animation: loading 8s infinite linear; -o-animation: loading 8s infinite linear;animation: loading 8s infinite linear;z-index: 999;}
#about .about-content .row .col-6:nth-child(2) .Painting .attentive svg .cls-1{fill:#fff100;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img {position: relative;display: flex;justify-content:flex-end;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img img {width: 90%;height: 100%;display: inline-block;opacity: 0.5;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img img:hover {opacity: 1;}


@media (max-width: 768px) {
#about .about-content .row .col-6:nth-child(1) p {padding: 0 0 0 100px;}
.about-content-title p {font-size: 25vw;-webkit-animation: mymove 5s infinite;animation: mymove 5s infinite;top: 59px;}
#about .about-content .row .col-6:nth-child(2) .Painting .about-img {display: flex;justify-content: flex-end;}
#about .about-content .row .col-6:nth-child(2) .Painting .attentive {top: -24px;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {margin-right: 100px;}
}

/* Standard syntax */
@keyframes mymove {
  50% {margin-right: 100px;}
}

@media (max-width: 600px) {
  .about-content-title p {font-size: 100px;-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */animation: mymove 5s infinite;}
  #about .about-content .row .col-6 {flex: 0 0 100%;max-width: 100%;}
  #about .row .col-6 .about-title {text-align: center;}
  #about .row .col-6 .about-title h4 {writing-mode: initial;position: initial;font-size: 50px;}
  #about .row .col-6 .about-title::after {width: calc(4% + 100px);height: 2px;left: calc(43% + 20px);top: 48px;}
  #about .about-content .row .col-6:nth-child(2) {padding: 0 3rem;}
  #about .about-content .row .col-6:nth-child(2)::before {position: initial;}
  #about .about-content .row::before {width: calc(42% + 100px);height: calc(30% + 100px);top: 170px;}
  #about .about-content .row .col-6:nth-child(1) {padding: 40px;}
  #about .about-content .row .col-6:nth-child(2) .Painting .about-img {display: flex;justify-content: flex-end;}
  #about .about-content .row .col-6:nth-child(2) .Painting .about-img img {width: calc(80% + 56px);opacity: 1;}
  #about .about-content .row .col-6:nth-child(2) .Painting .about-img img:hover {opacity: none;}
  #about .about-content .row {padding: 100px 0 0;}
  #about .about-content .row .col-6:nth-child(1) p {padding: 0}
  #about .about-content .row .col-6:nth-child(2) .Painting .attentive {top: -4vh;}
  .mail-content::before {left: 15px;}
}

 /* Chrome, Safari, Opera  */
@-webkit-keyframes mymove {
  50% {margin-right: 60px;}
}

/* Standard syntax */
@keyframes mymove {
  50% {margin-right: 60px;}
}


/* service */
#service {position: relative;margin: 0 auto;z-index: 4444;}
#service .service-content {max-width: 1200px;margin: 0 auto;}
#service .service-content .row {padding: 12rem 0;}
#service .service-content .row::after {content: "";width: calc(29% + 100px);height: calc(10% + 100px);display: inline-block;background-color: #f8f9f8;position: absolute;right: 0;top: 154px;z-index: -1;}
#service .service-content .row .col-8  {padding-left: 0;padding-right: 0;-webkit-animation-name: "left";-webkit-animation-duration: 4s;-webkit-animation-iteration-count: 1;padding: 0 0 0 4rem;}
#service .service-content .row .col-8 .service-Collapse {width: 100%;float: right;display: flex;align-items: first baseline;justify-content: space-evenly;flex-wrap: wrap;}
#service .service-content .row .col-8 .service-Collapse .service-Collapse-style {margin: 6px;width: 31%;}
#service .service-content .row .col-8 .service-Collapse .service-Collapse-style .service-Collapse-style-img {display: flex;justify-content: center;}
#service .service-content .row .col-8 .service-Collapse .service-Collapse-style .service-Collapse-style-img:hover { opacity: .4; transition: 1s ease-out ; -webkit-transition: 1s ease-out ; -moz-transition: 1s ease-out ; -ms-transition: 1s ease-out ; -o-transition: 1s ease-out ; }
#service .service-content .row .col-8 .service-Collapse .service-Collapse-style .service-Collapse-style-img img {width: 60%;}
#service .service-content .row .col-4  {padding-left: 0;padding-right: 0;-webkit-animation-name: "right"; -webkit-animation-duration: 4s; -webkit-animation-iteration-count: 1;}
#service .service-content .row .col-4 .service-title {position: relative;}
#service .service-content .row .col-4 .service-title h4 {position: absolute; right: 0px;font-size: 90px;margin: 0;color: black;top: -94px;}
input { display: none;}
input ~ div {height: 1px;overflow: hidden;}
input ~ div > * {opacity: 0;transition: 0.5s;font-size: 16px;line-height: 1.75em;position: relative;}
input ~ div > * span { width: 6px; height: 6px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;position: absolute;top: 12px;left: -17px;border: 1px solid;}
input + label {display: block;position: relative;font-size: 18px;padding: 10px 0;margin: 0;}
input + label:after,input + label:before {position: absolute;background: black;content: '';transform: rotate(0deg);transition: 0.5s;top: 50%;}
input + label:after {right: 4px;height: 10px;width: 2px;margin-top: -5px;}
input + label:before {right: 0;width: 10px;height: 2px;margin-top: -1px;}
input:checked ~ div { height: auto; background-color: #fff100; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;padding: 15px;}
input:checked ~ div > * {opacity: 1;transition: 0.5s;transition-delay: 0.25s;margin: 10px 20px;}
input:checked + label:before {transform: rotate(360deg);transition: 0.5s;}
input:checked + label:after {transform: rotate(450deg);transition: 0.5s;}
label:hover {cursor: pointer;}
.service-background {position: absolute;top: 0;left: 0;width: calc(66% + 100px);height: calc(81% + 100px);overflow: hidden;z-index: -4;}
.service-background ul {padding: 0;background-color: white;}
.service-background ul li {list-style: none;}
.service-background ul li svg {animation:drift 40s linear infinite;}

@media (max-width: 768px) {
  #service .service-content .row .col-8 {display: flex;justify-content: flex-end;}
  #service .service-content .row .col-8 .service-Collapse {margin: 0;}
  #service .service-content .row .col-8 .service-Collapse .service-Collapse-style {width: 46%;}
}
@media (max-width: 600px) {
  #service .service-content .row {padding: 7rem 0;flex-direction: column-reverse;}
  #service .service-content .row .col-8 .service-Collapse {margin: 0 auto;}
  #service .service-content .row .col-8 .service-Collapse .service-Collapse-style {width: 50%;}
  #service .service-content .row .col-8 {flex: 0 0 100%;max-width: 100%;padding: 2rem 0;}
  #service .service-content .row .col-4 {flex: 0 0 100%;max-width: 100%;}
  #service .service-content .row .col-4 .service-title {position: initial;text-align: center;}
  #service .service-content .row .col-4 .service-title h4 {writing-mode: initial;position: initial;font-size: 50px;}
  #service .service-content .row .col-4 .service-title::after {width: calc(7% + 100px);height: 2px;top: 47px;left: calc(44% + 20px)}
  .service-background {width: 100%;height: calc(100% + 0px);}
  #service .service-content .row::after {width: calc(48% + 100px);top: 130px;z-index: -1;}
  #service .service-content .row .col-8 .service-Collapse .service-Collapse-style .service-Collapse-style-img img {width: 80%;height: 80%;}
}


/* works */
#works {position: relative;margin: 0 auto;z-index: 4444;}
#works-content {position: relative;}
#works .works-content {max-width: 1200px;margin: 0 auto;}
#works .works-content .row {padding: 24rem 0 0;margin-left: 0;margin-right: 0;}
#works .works-content .row::after {content: "";width: calc(37% + 50px);height: calc(54% + 50px);display: inline-block;background-color: #f8f9f8;position: absolute;left: 0;bottom: 0;z-index: -1;}
#works .works-content .row .col-6 {padding-right: 0;padding-left: 0;flex: 0 0 100%;max-width: 100%;}
#works .works-content .row .col-6 .works-title h4 {position: absolute; left: 57px;font-size: 90px;margin: 0;color: black;bottom: 66px;}
#works .works-content .row .col-6 .works-title {text-align: center;}
#works .works-content .row .col-6 .More {position: absolute;right: 0;top: -80px;z-index: 4;width: 99px;height: 99px;}
#works .works-content .row .col-6 .More a span {color: #fff100;border: 2px solid #fff100;border-style: dashed;width: 99px;height: 99px;border-radius: 999rem;display: block;}
#works .works-content .row .col-6 .More  a {color: black;font-size: 18px;display: flex;align-items: center;justify-content: center;}
#works .works-content .row .col-6 .More  a:hover {text-decoration: none;color: black;}
#works .works-content .row .col-6 .More p {margin: 0;position: absolute;}
#works .works-content .row .col-6 .More span {-webkit-animation: loading 8s infinite linear;-moz-animation: loading 8s infinite linear; -o-animation: loading 8s infinite linear;animation: loading 8s infinite linear;}
#works .works-content .row .col-6 ul {display: flex;padding: 0;overflow: hidden;margin: 0;}
#works .works-content .row .col-6 ul li {width: 300px;height: 300px;list-style: none;}
#works .works-content .row .col-6 ul li a img {animation: Animation 40s infinite;}
@keyframes Animation {
  0%{transform: translateX(0px);}
  100%{transform: translateX(-1920px);}
}
/* works end */

@media (max-width: 768px) {
  #works .works-content .row .col-6 .More {top: -82px;}f
  #works .works-content .row .col-6 .works-title h4 {left: 45px;z-index: 4;}
}

@media (max-width: 600px) {
  #works .works-content .row {padding: 7rem 0 0;}
  #works .works-content .row .col-6 .works-title {position: relative;z-index: 6;}
  #works .works-content .row .col-6 .works-title h4 {position: initial;padding: 0 0 30px;font-size: 50px;}
  #works .works-content .row .col-6 .More {top: 8px;z-index: 8;}
  #works .works-content .row::after {width: calc(60% + 50px);height: calc(62% + 50px);}
}


/* footer */
.footer {position: relative;margin: 0 auto;background-color: #f9f9f9;z-index: 9999;}
.footer-content {max-width: 1200px;margin: 0 auto;}
.footer-content .row {text-align: center;padding: 1%;}
.footer-content .row .col {font-size: 13px;}
.footer-content .row .col p {margin: 0;}
/* footer end */















