.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.container {
	margin-left: 180px;
	margin-right: 180px;
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.ca-container{
	position: relative;
	width: 100%;
	height: 250px;
}

.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}

#filters {
	color: black;
	margin: 0% 0 3%;
	list-style: none;
	text-align: center;
	padding: 0px;
	margin-bottom: 50px;
}

#filters li {
	display: inline-block;
	margin:0 10px;
}

#filters li:first-child{
	margin: 0px;
}

#filters li span {
	display: block;
	padding: 4px 10px;
	text-decoration: none;
	font-size: 16px;
	color: black;
	cursor: pointer;
	text-transform: capitalize;
}



/* #filters li span:hover {
	color: gainsboro;
} */



.blog_main:first-child,.blog_main img:first-child{
	margin-top: 0;
}

.blog_main{
	margin: 4% 0;
}

.blog_main img{
	width:100%;
	margin: 4% 0;
}

.blog_main iframe{
	margin-bottom: 4%;
}

#small-dialog {
	background: white;
	padding: 3%;
	text-align: left;
	width: 50%;
	max-width: 100%;
	margin: 40px auto;
	position: relative;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.mfp-hide {
	display: none !important;
}

.container {
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.ca-container{
	position: relative;
	width: 100%;
	height: 250px;
}

.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:25%;
	margin:0%;
	display:none;
	float:left;
	overflow:hidden;
}

#portfoliolist a img{
	width: 100%;
	margin: 0 auto;
	display: block;
}

.footer{
	font-size: 13px;
	margin-top: 20px;
}
@media only screen and (max-width: 1920px) and (min-width: 1024px) {
	.wrap{
		width:100%;
	}
	.container {
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 660px) {
	.wrap {
		width: 100%;
	}

	#portfoliolist .portfolio  {
		width: 100%;
	}

	.ca-container {
		height: 180px;
	}

	.portfolio-wrapper img {
		width: 100%;
		height: auto;
	}

	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width:33.33%;
		margin:0%;
		display:none;
		float:left;
		overflow:hidden;
	}

	.container {
		margin-left: 0%;
		margin-right: 0%;
	}

	.footer hr {
		width: 100%;
	}
}


@media only screen and (max-width: 660px) and (min-width: 480px) {
	.wrap {
		width: 100%;
	}

	#portfoliolist .portfolio  {
		width: 100%;
	}

	.ca-container {
		height: 180px;
	}

	.portfolio-wrapper img {
		width: 100%;
		height: auto;
	}

	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width:50%;
		margin:0%;
		display:none;
		float:left;
		overflow:hidden;
	}

	.container {
		margin-left: 0%;
		margin-right: 0%;
	}

	.footer hr {
		width: 100%;
	}


}

@media only screen and (max-width: 480px) and (min-width: 120px) {
	.wrap {
		width: 100%;
	}

	#portfoliolist .portfolio {
		width: 100%;
	}

	.ca-container {
		height: 180px;
	}

	.portfolio-wrapper img {
		width: 100%;
		height: auto;
	}

	#portfoliolist .portfolio {
		margin: 0px;
		margin-bottom: 0px;
	}

	.container {
		margin-left: 0%;
		margin-right: 0%;
	}

	.footer hr {
		width: 100%;
	}
}












.btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}

.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}