/* 字體 */
@font-face {
  font-family: MADE;
  src: url(../fonts/MADE.ttf);
}


/* body */
body {
  cursor: url("../images/mouse.png"), auto;
}
/* body end */



/* 文字動畫 */
@-webkit-keyframes right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-120px);
	}	
	100% {
		opacity: 6;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(120px);
	}	
	100% {
		opacity: 6;
		-webkit-transform: translateX(0);
	}
}
/* 文字動畫 end */


/* 箭頭 */
.Instructions {position: absolute;right: 0.5%;bottom: 7rem;margin: 0 auto;z-index: 4;}
.arrow-round {width: 10px;height: 10px;border-radius: 999rem;border: 1px solid black;animation: move 1.3s infinite;margin: 4px 3px;}
.arrow {width: 16px;height: 16px;border-bottom: 1px solid black;border-right: 1px solid black;transform: rotate(45deg);animation: move 1.3s infinite;margin: -9px 0 0;}
  
@for $i from 1 through 2 {
    .arrow:nth-child(#{$i + 1}) {
      animation-delay: 0.15 * $i + s;
    }
}
  
@keyframes move {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(40px) rotate(45deg);
    }
}
/* 箭頭 end */

@media (max-width: 480px) {
  .Instructions {bottom: 6em;}
}

/* 選單 */
.Menu {position: relative;width: 100%;display: flex;justify-content: flex-end;z-index: 777;}
.Menu-content {margin: 0 auto;width: 30px;position: fixed;top: 110px;background-color: #fff100;padding: 30px 20px;opacity: 0.3;}
.Menu-project a {text-decoration: none;transition: all 150ms linear 0s;}
.Menu-project a:hover {text-decoration: none;color: white;}
.label {writing-mode: vertical-rl;text-orientation: sideways;margin: 20px 0;color: black;}
.label::before {content: "";width: 2px;height: 0px;background-color: white;display: flex;transition: height 2s;position: absolute;right: 30px;}
.label:hover:before {height: 80px;}
/* 選單 end */

@media (max-width: 480px) {
  .label {margin: 20px -10px;}
}

/* header */
#header {position: relative;margin: 0 auto;}
#header .header-content {position: relative;max-width: 1200px;margin: 0 auto;}
#header .header-content .row  {margin-left: 0;margin-right: 0;height: 680px;}
#header .header-content .row .col-6 {padding-left: 0;padding-right: 0;}
#header .header-content .header-Brand {padding: 60px 0 0;}
#header .header-content .header-Brand .slogan {padding: 10rem 0;}
#header .header-content .header-Brand .slogan h5 { font-family: unset; font-size: 60px; line-height: 1; color: black; font-weight: 800; z-index: 3; position: relative; padding: 20px; margin: 20px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
#header .header-content .header-Brand .slogan h5::before { content: ""; width: 100%; height: 100%; display: inline-block; position: absolute; background-color: #fff100; left: 0; bottom: 0; z-index: -1; opacity: .6; animation: h5mobile 20s infinite; -webkit-animation: h5mobile 20s infinite; transform: rotate(25deg); -webkit-transform: rotate(25deg); -moz-transform: rotate(25deg); -ms-transform: rotate(25deg); -o-transform: rotate(25deg); }
#header .header-content .header-Brand .header-logo a {display: inline-block;}
#header .header-content .row .col-6:nth-child(1) h1 {font-family: unset;font-size: 157px;line-height: 1;color: #fff100;margin: 0;font-weight: 800;position: relative;z-index: 5555;opacity: 0.7;}
#header .header-content .row .col-6:nth-child(1) p {font-family: MADE;font-size: 99px;margin: 0 22px;}
#header .header-content .row .col-6:nth-child(2) {display: flex;flex-wrap: wrap;align-items: flex-end;}
#header .header-content .row .col-6:nth-child(2) .header-Instructions {padding: 40px 0 0;}
#header .header-background {position: absolute;top: 0;right: 0;width: calc(42% + 100px);height: 100%;overflow: hidden;}
.header-background ul {padding: 0;background-color: white;}
.header-background ul li {list-style: none;}
.header-background ul li svg {animation:drift 16s linear infinite;}
.header-Brand-background {position: fixed;z-index: -9999999999999;top: 0;left: 0;background: url(../images/background.png);width: 100%;height: 100%;opacity: .2;}
.header-Brand-svg {position: absolute;opacity: 0.5;bottom: 0;width: 107vw;right: 0;}

@keyframes h5mobile {
  0% { transform: translate(-800px) ; -webkit-transform: translate(-800px) ; -moz-transform: translate(-800px) ; -ms-transform: translate(-800px) ; -o-transform: translate(-800px) ; }
  100% { transform: translate(0) ; -webkit-transform: translate(0) ; -moz-transform: translate(0) ; -ms-transform: translate(0) ; -o-transform: translate(0) ; }
}

@keyframes h5mobile {
  0% { transform: translate(-800px) ; -webkit-transform: translate(-800px) ; -moz-transform: translate(-800px) ; -ms-transform: translate(-800px) ; -o-transform: translate(-800px) ; }
  100% { transform: translate(0) ; -webkit-transform: translate(0) ; -moz-transform: translate(0) ; -ms-transform: translate(0) ; -o-transform: translate(0) ; }
}

@keyframes drift {
    from {transform: translatey(-700px);}
    to {transform: translatey(0px);}
}

@media (max-width: 768px) {
    #header .header-content .row .col-6:nth-child(1) {padding: 0 40px 0;}
    #header .header-content .row .col-6:nth-child(1) h1 {font-size: 17vw;}
    #header .header-content .row .col-6:nth-child(1) p {font-size: 8vw;}
    #header .header-content .header-Brand .slogan {padding: 0;}
    #header .header-content .header-Brand .slogan h5 {font-size: 12vw;}
    .header-Brand-svg {width: 184vw;right: 0;}
}

@media (max-width: 480px) {
    #header .header-content .row .col-6 {flex: 0 0 100%;max-width: 100%;}
    .header-Instructions {height: 100%;}
    #header .header-background {position: absolute;right: 0;width: calc(62% + 100px);height: calc(40% + 100px);top: calc(40% + 100px);}
    #header .header-content .row .col-6:nth-child(1) {padding: 40px 40px 0;}
    #header .header-content .row .col-6:nth-child(1) h1 {font-size: 16vw;line-height: 0.8;}
    #header .header-content .row .col-6:nth-child(1) p {font-size: 14vw;position: relative;z-index: 4;margin: 0;padding: 0 14px;}
    #header .header-content .row .col-6:nth-child(1) .header-Brand .header-logo {padding: 20px 0;}
    #header .header-content .header-Brand .slogan {padding: 20px 0;}
    #header .header-content .header-Brand .slogan h5 { font-size: 16vw; line-height: 1; padding: 10px; margin: 24px; transform: translate(0); -webkit-transform: translate(0); -moz-transform: translate(0); -ms-transform: translate(0); -o-transform: translate(0); }
    .header-Brand-svg {width: 140vh;right: 0;}
    #header .header-content .header-Brand {padding: 20px 0 0;}
}
/* header end */


/* main */
.main {position: relative;margin: 0 auto;}
.main-content {max-width: 1200px;margin: 0 auto;}
.mail {position: relative;}
.mail-content {position: fixed;height: 100%;background-color: white;z-index: 222222;top: 25vh;padding: 10px 1%;opacity: 0.6;}
.mail-icon img {width: 100%;}
.mail-detailed {writing-mode: vertical-lr;}
.main-Linear  {display: flex;justify-content: center;padding: 10px 0;}
.main-Linear span {width: 1px;height: 60px;background-color: black;}
.mail-detailed a {color: black;font-size: 16px;}
.mail-detailed a:hover {color: #fff100;text-decoration: none;}
/* main end */


/* works */
#works-content {position: relative;}
#works .works-content {max-width: 1200px;margin: 0 auto;}
#works .works-content .row {padding: 100px 0 0;margin-left: 0;margin-right: 0;}
#works .works-content .row .col {padding-right: 0;padding-left: 0;flex: 0 0 100%;max-width: 100%;}
#works .works-content .row .col #filters {position: relative;z-index: 6666;}
#portfoliolist a img {transform:scale(1,1);transition: all 1s ease-out;}
#portfoliolist .portfolio:hover img {transform:scale(1.2,1.2);}
#works .works-content .row .col .works-title h4 {position: absolute; left: 74px;font-size: 69px;margin: 0;color: #fff100;top: -94px;}
#works .works-content .row .col .works-title {text-align: center;}
#works .works-content .row .works-title::after {content: "";width: 130px;height: 2px;background-color: #fff100;position: absolute;left: 192px;top: -29px;}
#works .works-content .row .col .More {position: absolute;right: 0;top: -80px;z-index: 4;width: 99px;height: 99px;}
#works .works-content .row .col .More a span {color: #fff100;border: 2px solid #fff100;border-style: dashed;width: 99px;height: 99px;border-radius: 999rem;display: block;}
#works .works-content .row .col .More  a {color: black;font-size: 18px;display: flex;align-items: center;justify-content: center;}
#works .works-content .row .col .More  a:hover {text-decoration: none;color: black;}
#works .works-content .row .col .More p {margin: 0;position: absolute;}
#works .works-content .row .col .More span {-webkit-animation: loading 8s infinite linear;-moz-animation: loading 8s infinite linear; -o-animation: loading 8s infinite linear;animation: loading 8s infinite linear;}
@keyframes Animation {
  0%{transform: translateX(0px);}
  100%{transform: translateX(-1920px);}
}
/* works end */

@media (max-width: 768px) {
  #works .works-content .row {padding: 40px 0 0 ;}
  #works .works-content .row .works-title::after {left: calc(19% + 20px);top: -29px;width: 100px;}
  #works .works-content .row .col-6 .More {top: -82px;}
  #works .works-content .row .col-6 .works-title h4 {left: 45px;}
}

@media (max-width: 480px) {
  #works .works-content .row {padding: 0;}
  #works .works-content .row .col-6 .works-title h4 {position: initial;padding: 0 0 30px;font-size: 50px;}
  #works .works-content .row .works-title::after {left: calc(45% + 20px);top: 47px;}
  #works .works-content .row .col-6 .More {top: 8px;z-index: 8;}
}  


/* footer */
.footer {position: relative;margin: 0 auto;background-color: #f9f9f9;margin: 60px 0 0;z-index: 9999999;}
.footer-content {max-width: 1200px;margin: 0 auto;}
.footer-content .row {text-align: center;padding: 1%;}
.footer-content .row .col {font-size: 13px;}
.footer-content .row .col p {margin: 0;}
/* footer end */

@media (max-width: 480px){
.footer{margin: 0;}
}